//- _layout.pug
html(lang="es")
  head
    meta(name="viewport" content="width=device-width, initial-scale=1.0, minimal-ui")
    title #{title ? `${title} - Promos de culto` : "Promos de culto"}
    // Google Fonts
    link(rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic")
    // CSS Reset
    link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css")
    // Milligram CSS
    link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css")
    // Custom CSS
    style.
      body {
        background: #fff;
      }
      /*noinspection CssUnusedSymbol*/
      .frame {
        margin-top: 4rem;
      }

      @media (min-width: 40.0rem) {
        body {
          background: #f6f6f6;
        }
        /*noinspection CssUnusedSymbol*/
        .frame {
          margin-top: 14rem;
          display: flex;
        }
        /*noinspection CssUnusedSymbol*/
        .frame .container {
          background: #fafafa;
          border: 0.1rem solid #d1d1d1;
          border-radius: 0.4rem;
          max-width: 700px;
          padding: 4em;
        }
      }
  body
    block content
