//- _layout.pug
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1.0, minimal-ui")
    title #{title} - Promos de culto
    // Google Fonts
    link(rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic")
    // CSS Reset
    link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css")
    // Milligram CSS
    link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css")
    //block scripts
    //    script(src='/jquery.js')
  body
    block content
    //block foot
    //    #footer.container
    //        .row
    //            .column
    //                p Copyright © 2022 TepacheLabs
    //            .column
    //                p
    //                    a(href='/') Condiciones
    //                    | &nbsp; &centerdot; &nbsp;
    //                    a(href='/') Privacidad
