extends _layout

block content
  .frame
    .container
      .row
        .column
          h2 Ya volaron 🕊️
          p Entendemos que es triste que se hayan acabado las promos, pero no te preocupes, pronto habrá más.
          p Te enviaremos un correo cuando haya más promos disponibles. Mientras tanto, puedes seguirnos en nuestras redes:
          ul
            for social in ['instagram', 'facebook', 'twitter']
              li
                a(href=`https://${social}.com/cultoperrocafe` target="_blank" rel="noopener noreferrer")= social[0].toUpperCase() + social.slice(1)
            li
              a(href="https://tiktok.com/@cultoperrocafe" target="_blank" rel="noopener noreferrer") Tiktok
