extends _layout

block content
  .frame
    .container
      .row
        .column
          h2 ¡Ganaste un cupón!
          p Regístrate para recibir el código de canje en tu correo electrónico.
      .row
        .column
          form(action="/register" method="POST")
            fieldset
              label(for="email") Correo:
              input(type="email" name="email" id="email" placeholder="Tu correo..." required)
              input.button-primary(type="submit" value="Registrarme")
      .row
        .column
          p Al registrarte aceptas nuestros&nbsp;
            a(href="/terms") términos & condiciones.&nbsp;
            | Consulta la&nbsp;
            a(href="/privacy") política de privacidad.
