extends _layout

block content
  .frame
    .container
      .row
        .column
          h2 Algo bien 游뱇
          p Te enviamos un enlace de confirmaci칩n a tu correo electr칩nico. 츼brelo para verificar tu correo y recibir tu cup칩n.
          p Ya puedes cerrar 칠sta p치gina.
