extends _layout

block content
    .container
        .row
            .column
                h2 ¡Registro exitoso!
                p Te hemos enviado un link a correo electrónico. Por favor ábrelo para verificar tu cuenta y finalmente recibir tu código de canje.
                p Puedes cerrar ésta página.
