extends _layout

block content
  .frame
    .container
      .row
        .column
          h2 No se pudo 👀
          p Éste correo ya ha sido registrado.
          a.button(href="/") Intenta con otro
