extends _layout

block content
  .frame
    .container
      .row
        .column
          h2 No se pudo ❌
          p El código de verificación es incorrecto.
          p Si crees que hubo un error,&nbsp;
            a(href="mailto:promos@perro.cafe") contáctanos.
