extends _layout

block content
    .container
        .row
            .column
                h2 ¡Correo verificado!
                p En breve te llegará un segundo correo con tu código de canje. Presenta el código de canje en nuestra sucursal para reclamar tu sticker.
                p Puedes cerrar ésta página.
